.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    min-width: 40%;
    background-color: white;
    border-radius: 2%;
    padding: 2%;
    box-shadow: #272626 5px 8px 17px;
}
.signupBackground{
	background-color: #56586b !important;
	height: 100%;
	width: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}